body {
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.left-align {
  text-align:  left;
}
